.widget
  border: 1px solid $border-color
  height: 260px
  border-radius: 16px

.widget__header
  border-radius: 16px 16px 0 0
  height: 10%

.widget__widget-content
  height: 80%

.widget__widget-footer
  height: 10%