.widget
  border: 1px solid $border-color
  height: inherit
  border-radius: 8px
  background-color: $panel-color

.widget__header
  border-bottom: 1px solid $border-color
  border-radius: 8px 8px 0 0
  height: 10%

.widget__widget-content
  height: 80%

.widget__widget-footer
  height: 10%